 :root {
      /* Fonts */
  --main-font-family: 'Roboto' sans-serif; 
  --secondary-font-family: 'Raleway' sans-serif; 
    /* Colors */
    --main-dark-color: #000;
    --main-light-color: #fff;
    --accent-color: #2196F3;
    --main-color: #757575;
    --secondary-color: #212121;
    --secondary-bc-color:#2F303A;
    --main-bc-color: #E5E5E5;
     /* --border-color: #c4c4c4; */
    /* --badge-bg-color: #eeeeee; */
    /* --badge-color: #546269; */
 }  
body {
    background-color: #E5E5E5;
    font-family: var(--main-font-family);
}

.accent {
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--accent-color);

}
.team-item {
    background-color: 
    var(--main-light-color);
    width: 270px;
}