:root {
  /* Fonts */
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;

  /* Colors */
  --main-dark-color: #000;
  --main-light-color: #fff;
  --accent-color: #2196f3;
  --main-color: #757575;
  --secondary-color: #212121;
  --fird-color: #f5f4fa;
  --secondary-bc-color: #2f303a;
  /* --border-color: #c4c4c4; */
  /* --badge-bg-color: #eeeeee; */
  /* --badge-color: #546269; */
}

body {
  background-color: var(--main-light-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 16px;
}

/* common css */
.list {
  list-style: none;
}

.menu-link,
.mail-ref,
.phone-ref,
.logo {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* header */
.header {
  background-color: var(--main-light-color);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
}

.menu-link {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-link:hover,
.menu-link:focus,
.footter-mail:hover {
  color: var(--accent-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.btn-tytle:hover,
.btn-tytle:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.mail-ref,
.phone-ref {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mail-ref:hover {
  color: var(--accent-color);
}

/* header end */

/* main */

/* шапка */
.hat {
  background-color: var(--secondary-bc-color);
}

.hat-tytle {
  font-weight: 900;
  width: 700px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  text-transform: uppercase;
  text-align: center;
}

.btn-tytle {
  border: none;
  cursor: pointer;
  color: var(--main-dark-color);
  background-color: var(--fird-color);
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.portfolio-btn {
  font-weight: 500;
  line-height: 1.63;
  border: none;
  cursor: pointer;
  color: var(--main-dark-color);
  background-color: var(--fird-color);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.peculiarities-list,
.portfolio-list {
  background-color: var(--main-light-color);
}

.content-tytle {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.content {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* шапка-конец */

/* actyvity */

.actyvity-tytle,
.team-tytle {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* actyvity end */


/* team */

.team {
  background-color: var(--fird-color);
}

.team-hero {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.job-title {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-item {
  background-color: var(--main-light-color);
  width: 270px;
  }

/* team-end */

/* main end */

/* footer */
.footer {
  background-color: var(--secondary-bc-color);
}

.map-link {
  color: var(--main-light-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}

.footter-mail,
.footer-phone {
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.studio {
  color: var(--main-light-color);
}

/* footer end */

/* main p2 */

.exemple-item {
  width: 370px;
}

.exemple-sign {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-color);
  letter-spacing: 0.06em;
  text-align: left;
}

.exemple-category {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.88;
  color:var(--main-color);
  text-align: left;
  letter-spacing: 0.03em;
}

.exemple-list > img {
  margin-bottom: 20px;
}

.сurrent {
  color: var(--accent-color);
}
